@use "../../styles/variables" as *;

.container {
  padding: 20px;
}

.flexContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; // адаптивное поведение на узких экранах
  align-items: center;
}

.flexItem {
  flex: 1;         // занимает равную долю
  min-width: 300px; // минимальная ширина для адекватного отображения
}

h3{
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center; /* по вертикали выравниваем */
  justify-content: space-between; /* h1 слева, button справа */

  padding: 10px;
  button{
    width: 90px;
    height: 5px;
    color: $color-text-light;
  }
}
