@use '../../styles/variables' as *;
@use "../../styles/mixins" as *;


.title {
    margin-bottom: 20px;
    font-size: 28px;
}

.mainContent {
    display: flex;
    gap: 30px; 
    max-width: 1400px; 
    margin: 0 auto; 
    width: 100%; 
}

.scheduleColumn {
    flex: 3; 

    min-width: 0;
    overflow: hidden; 
}

.filtersColumn {
    flex: 1; 
    flex-shrink: 0; 

}

@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;
        gap: 20px;
    }

    .scheduleColumn,
    .filtersColumn {
        flex: auto; 
    }
}