@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "sass:color";

:root {
  --color-no-visit: #{$color-border};
  --color-border: #{$color-dark-primary};
  --color-visit: #{$color-success};
  --color-sick: #{$color-warning};
  --color-border-hover: #{color.adjust($color-text-secondary, $lightness: 10%)};
  --color-visit-active: #{color.adjust($color-success, $blackness: 25%)};
  --color-sick-active: #{color.adjust($color-warning, $blackness: 30%)};
  --color-no-visit-active: #{color.adjust($color-text-secondary, $blackness: 20%)};
  --color-border-active: #{color.adjust($color-text-secondary, $blackness: 50%)};
  --color-light: #{$color-text-light};
}

.attendanceTableContainer {
  position: relative;
  width: 100%;
  color: $color-text-light;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 500;

  }

  .tableWrapper {
    width: 100%;
    overflow: hidden;
    max-height: 450px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    border-radius: $border-radius;

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
    &::-webkit-scrollbar-corner {
      display: none;
    }
    box-shadow: inset 0px -16px 15px 0 rgba(0, 0, 0, 0.8);
  }

  table {
    width: max-content;
    min-width: 100%;
    border-collapse: collapse;

    th,
    td {
      width: 40px;
      height: 40px;
      min-width: 60px;
      min-height: 40px;
      padding: 5px;
      text-align: center;
      white-space: nowrap;
      background: $color-dark-tertiary;
      user-select: none;
      cursor: pointer;
    }
    tr{
      &:nth-child(1){
    box-shadow: inset 0 5px 5px 0 $color-dark-tertiary;
    }}

    td{
      &:nth-child(2){
    box-shadow: inset 5px 0 5px 0 $color-dark-tertiary;
    }
    }
  }

  thead th {
    position: sticky;
    top: 0;
    z-index: 15;
    background: $color-dark-primary;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .studentName,
  .studentColumn {
    position: sticky;
    left: 0;
    background: $color-dark-primary;
    white-space: nowrap;
  }
  .studentName {
    z-index: 20 !important;
    padding: 20px 50px;
    
  }
  .studentColumn {
    z-index: 10;
    padding: 0 12px 0 8px;
    border-right: 1px solid var(--color-border);
    
  }

  .percentage,
  .percentageCell {
    position: sticky;
    right: 0;
    background: $color-dark-primary;
    z-index: 10;
  }
  .percentage {
    z-index: 20 !important;
    
  }
  .percentageCell {
    font-weight: bold;
    
  }

  .highlightHeader {
    background: linear-gradient(to top, $color-ghost, $color-dark-primary);
    
  }
  .highlightName {
    background: linear-gradient(to left, $color-ghost, $color-dark-primary);
  }

  .dotWrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .editNameWrapper {
    display: flex;
    align-items: center;

    gap: 8px;
    width: 100%;

    input {
      flex: 1;
      background: $color-dark-tertiary;
      border: 3px solid $color-border;
      padding: 5px 4px;
      border-radius: 6px;
      color: $color-text-light;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: $color-accent-hover;
        background: $color-dark-primary;
      }
    }
  }

  .inlineDeleteBtn,
  .inlineAddBtn {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease;

    svg {
      display: block;
    }
  }

  .inlineDeleteBtn {
    background: $color-accent-primary;
    color: $color-text-light;
    width: 24px;
    height: 24px;
    padding: 0;

    &:hover {
      background: $color-accent-background;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .inlineAddBtn {
    background: $color-accent-primary;
    color: $color-text-light;
    padding: 10px 20px;
    font-size: 14px;

    &:hover {
      background: $color-accent-background;
    }
    &:active {
      background: $color-accent-background-hover;
    }

    svg {
      margin-right: 5px;
      color: $color-text-light;
    }
  }

  .addRow {
    tr {
      align-self: center;
    }
    td {
      background: $color-dark-tertiary;
      padding: 12px;
      text-align: center;
    }
  }

  .dragOver {
    outline: 2px dashed $color-accent-hover;
    outline-offset: -4px;
    @include shadows-inset(14px, -14px);
  }

  .gradeCell.highlightCurrentCell {
    background: $color-border;
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border:none;
    padding: 20px;
    width: calc(100vw - 40px);
    height: 120vh;
    background: $color-dark-primary;
    z-index: 2000 !important;
    overflow: auto;

    .tableWrapper {
      max-height: calc(100vh - 140px);
      overflow: auto;
    }
    .tableName{
      font-weight: 700;
    }
  }

  .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.editOverlayButton {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
  outline: none;

  &:hover{
    background-color: rgba(0, 0, 0, 0.6);
  }
  &:active{
     background-color: rgba(0, 0, 0, 0.8);
  }

  .editIconWrapper {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editOverlayText {
    color: var(--color-light);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    user-select: none;
  }
}
.oddRow{
  background-color: $color-dark-secondary;
}
.evenRow {
  background-color: $color-dark-tertiary; 
}
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  .controlButton{
  font-size: 16px;
  color: $color-text-light;
  }

  .leftButtons,
  .rightButtons {
    display: flex;
    align-items: center;

  }

  button {
    padding: 8px 16px;
    height: 36px;
    
    svg {
      display: block;
    }
  }

  .activeButton {
    background-color: $color-accent-primary;
  }
  
}

